.navbar-nav{
    font-family: 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
}

#stefanWebsite_a, #home_a, #education_a, #technical_a, #coopExp_a, #projects_a, #work_a{
    color: white;
}