#technicalSkillsTitle{
    text-align: center;
    font-weight: bold;
    padding-bottom: 3%;
    
}

#technicalSkillsPage{
    background-color: #E1D089;
    margin-top: -2.7%;
    padding-top: 2%;
}