<!DOCTYPE html>
<html lang="en">
    <body>
        <footer id="myFooter" class="fixed-bottom">
            <div class="social-networks">
                <a href="https://github.com/stefc2017" class="github"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/StefanVCouture" class="linkedIn"><i class="fa fa-linkedin"></i></a>
            </div>
            <p id="copyright">Copyright © 2018 Stefan Couture. All rights reserved</p>
        </footer>
    </body>
</html>